<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coderank.mapper.QuestionSubmitMapper">

    <resultMap id="BaseResultMap" type="com.coderank.entity.QuestionSubmit">
            <id property="id" column="id" />
            <result property="questionId" column="question_id" />
            <result property="userId" column="user_id" />
            <result property="language" column="language" />
            <result property="code" column="code" />
            <result property="status" column="status" />
            <result property="score" column="score" />
            <result property="timeUsed" column="time_used" />
            <result property="memoryUsed" column="memory_used" />
            <result property="errorMsg" column="error_msg" />
            <result property="submitTime" column="submit_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,question_id,user_id,language,code,status,
        score,time_used,memory_used,error_msg,submit_time
    </sql>
</mapper>
